@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-background: oklch(29.8% 0.07 227.392);
  --font-display: "Satoshi", "sans-serif";
  --span-skills: "inline-flex items-center gap-x-2.5 py-2.5 px-3 rounded-full text-m font-medium"

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
}

h1 {
  color: var(--color-sky-200);
  font-size: var(--text-4xl);

  @variant md {
    font-size: var(--text-8xl);
  }
}

h2 {
  color: var(--color-sky-200);
  font-size: var(--text-4xl);
  font-weight: 100;

  @variant md {
    font-size: var(--text-6xl);
  }
}

p {
  font-size: var(--text-md);

  @variant lg {
    font-size: var(--text-4xl);
  }

  @variant md {
    font-size: var(--text-2xl);
  }

  color: white;
}

section {
  padding-top: 20em;
}

section:first-of-type {
  padding-top: 5em;
}

.dark nav {
  background: var(--cyan-950);
}

.light nav {
  background: white
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@layer utilities {
  .my-gradient {
    @apply bg-gradient-to-b from-cyan-800 from-10% to-cyan-950 to-80%;
  }
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}