@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-background-dark: oklch(0.2144 0.0176 289.92);
  --color-background-light: oklch(0.9609 0.0094 292.8);
  --color-primary-purple: oklch(0.4588 0.0681 294.5);
  --color-light-purple: oklch(0.8439 0.0418 294.66);
  --color-accent-orange: oklch(0.7194 0.1793 54.35);
  --color-accent-blue: oklch(0.6059 0.087 220.06);
  --color-text-blue: oklch(0.4461 0.0298 257.68);
  --color-text-light:oklch(0.8717 0.0093 258.34);
  --color-dark-blue: oklch(0.2778 0.0319 256.28);
  --font-display: "Satoshi", "sans-serif";
  --span-skills: "inline-flex items-center gap-x-2.5 py-2.5 px-3 rounded-full text-m font-medium"

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background-dark);
}

.light body {
  background-color: var(--color-background-light);
}

/* h1 {
  color: var(--color-sky-200);
  font-size: var(--text-4xl);

  @variant md {
    font-size: var(--text-8xl);
  }
}

.light h1 {
  color: var(--color-cyan-800);
} */

/* h2 {
  color: var(--color-sky-200);
  font-size: var(--text-4xl);
  font-weight: 100;

  @variant md {
    font-size: var(--text-6xl);
  }
}

.light h2 {
  color: var(--color-cyan-900);
} */

/* p {
  font-size: var(--text-md);

  @variant lg {
    font-size: var(--text-4xl);
  }

  @variant md {
    font-size: var(--text-2xl);
  }

  color: var(--color-light-purple);
} */

.light p {
  color: var(--color-text-blue);
}

section {
  padding-top: 20em;
}

section:first-of-type {
  padding-top: 5em;
}

.dark nav {
  background: oklch(0.2778 0.0319 256.28);
}

.light nav {
  background: oklch(0.9943 0.0013 286.38);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@layer utilities {
  .my-gradient {
    @apply bg-gradient-to-b  from-sky-200 to-cyan-100 dark:from-cyan-800 from-10% dark:to-cyan-950 to-80%;
  }
}

@layer components {
  .h1-orange {
    @apply font-bold text-accent-orange;
  }

  .h1-purple {
    @apply font-bold text-light-purple;
  }

  .light h1 {
    color: var(--color-cyan-800);
  }

  .light .h1-orange {
    @apply text-accent-orange;
  }

  .light .h1-purple {
    @apply text-primary-purple;
  }

  .h2-card {
    @apply text-white;
    font-size: small;
  }

  .light .h2-card {
    @apply text-dark-blue;
  }

  .p-color {
    @apply text-white;
  }

  .light .p-color {
    @apply text-white;
  }

  .light .p {
     @apply text-primary-purple;
  }

  .p-card {
    font-size: medium;
  }

  h1 {
  color: var(--color-sky-200);
  font-size: var(--text-4xl);

  @variant md {
    font-size: var(--text-8xl);
  }
}
  
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}

/* PROGRESS BAR */
@keyframes progress {
  from {
    width: 0;
  }
}

.animate-progress {
  display: block;
  animation: progress 1500ms ease-in 1;
}

/* CSS für Skill Badges */
.main-wrapper {
	width: 90%;
	max-width: 900px;
	margin: 3em auto;
	text-align: center;
}

.badge {
	position: relative;
	margin: 1.5em 3em;
	width: 8em;
	height: 12.4em;
	border-radius: 20px;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
    top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	}
	&:before {
		transform: rotate(60deg);
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:hover {
		top: -4px;
	}
	.circle {
		width: 120px;
		height: 120px;
		position: absolute;
		background: #fff;
		z-index: 20;
		border-radius: 50%;
    top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
		i.fa {
			font-size: 4em;
			margin-top: 18px;
		}
	}

	.ribbon {
		position: absolute;
		border-radius: 8px;
		padding: 5px 5px 4px;
		width: 210px;
		z-index: 22;
		color: #fff;
		bottom: 24px;
		left: 50%;
		margin-left: -105px;
		height: 36px;
		font-size: 20px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Comfortaa', sans-serif;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
		cursor: default;
	}
}

.yellow {
	background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
	color: #ffb300;
}
